.contributorbox .twocol {display:inline-block;width:48%;margin:6px;padding:4px;}

.contributorbox {
    background-color: #eaeaea;
    max-width: 100%;
    padding: 5px;
}

.contributorbox ul.list-group{
    margin:0;}

.contributorbox.list-group-item{
    margin:5px;
}

.contributorlabel {
    color: #4f4b4c;
    font-size: 22px;
    margin: 8px;
}

.list-group-item img{
    float:left;
}

.list-group-item a{
    float:left;
    padding:33px 59px;
}

@media (max-width: 540px) {
    .contributorbox .twocol {
        margin:0;
        width:100%
    }
}